<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="app-sidenav">
    <mat-toolbar color="primary">
      <span>ThreatSys</span>
    </mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item routerLink="/users" routerLinkActive="active">
        <mat-icon>people</mat-icon>
        <span>Users</span>
      </a>
      <a mat-list-item routerLink="/iocs" routerLinkActive="active">
        <mat-icon>security</mat-icon>
        <span>IOCs</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ title }}</span>
      <span class="spacer"></span>

      <div class="auth-section">
        <button mat-button *ngIf="!isLoggedIn" (click)="login()">
          <mat-icon>login</mat-icon>
          Login
        </button>
        <div *ngIf="isLoggedIn" class="user-info">
          <span>Welcome, User!</span>
          <button mat-button (click)="logout()">
            <mat-icon>logout</mat-icon>
            Logout
          </button>
        </div>
      </div>
    </mat-toolbar>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>