<div *ngIf="loading">Loading IOCs...</div>
<div *ngIf="error">{{ error }}</div>

<table *ngIf="!loading && !error">
    <thead>
        <tr>
            <th>Value</th>
            <th>TLP Level</th>
            <th>Type ID</th>
            <th>Active</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ioc of iocs">
            <td>{{ ioc.value }}</td>
            <td>{{ ioc.tlp_level }}</td>
            <td>{{ ioc.type_id }}</td>
            <td>{{ ioc.active }}</td>
        </tr>
    </tbody>
</table>